<section class="hero is-fullheight is-default is-bold">

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-6">
                    <figure class="image is-4by3">
                        <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Description">
                    </figure>
                </div>
                <div class="column is-3 is-offset-1">
                    <h2 class="subtitle is-4">
                        ID: 1234
                    </h2>
                    <h2 class="subtitle is-4">
                        ชื่อ: fisrtname lastname
                    </h2>
                    <h2 class="subtitle is-4">
                        อายุ: age
                    </h2>
                    <h2 class="subtitle is-4">
                        เพศ: sex
                    </h2>
                    <h2 class="subtitle is-4">
                        Email: email
                    </h2>
                    <br>
                    <br>

                    <div class="field is-grouped is-grouped-centered">
                        <p class="control">
                            <a class="button is-primary">
                                Edit
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-light" (click)="delete()">
                                Delete
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-light">
                        back
                    </a>
                </p>
                <p class="control">
                    <a class="button is-light">
                        next
                    </a>
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>And this is the bottom</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
</section>