<div class="header">
    <nav class="level">
        <p class="level-item has-text-centered">
            <a class="link is-info">Home</a>
        </p>
        <p class="level-item has-text-centered">
        </p>
        <p class="level-item has-text-centered">
        </p>
        <p class="level-item has-text-centered">
            <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">
        </p>
        <p class="level-item has-text-centered">

        </p>

        <div class="level-item">
            <div class="field has-addons">
                <button class="button">
                    <a [routerLink]="'/add'">
                        New
                    </a>
                </button>
                <p class="control">
                    <input class="input" type="text" placeholder="Find Employee">
                </p>

                <p class="control">
                    <button class="button">
                        Search
                    </button>
                </p>
            </div>
        </div>
    </nav>
</div>